html, body, #root, .app {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.sidebar{
	background: #f6f7f8;
	border-right: 1px solid #eee;
	box-sizing: border-box;
	height: calc(100% - 37px);
	width: 20%;
	padding: 25px;
	float: left;
}

.sidebar h2 {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 600;
	color: rgba(35,31,32,0.5);
	letter-spacing: -0.2px;
	line-height: 18px;
}

.sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar ul li a {
	text-decoration: none;
	color: rgba(35,31,32,0.8);
	cursor: default;
}

.sidebar ul li a.selected {
	color: #3187e1;
}